<h1>Select a friend to alert</h1>
<p>Search bar will go here one day...</p>
<tbody>
   <% @friends.each do |friend|%>
   <tr>
      <%= link_to(controller: "friends", action: "show", id: friend.id) do %>
        <td><%= friend.email %></td>
      <% end %>
   </tr>
   <% end %>
</tbody>