<%= link_to "< Back to friends", controller: "friends", action: "index" %>
<h1><%= @friend.name %></h1>

  <h2>Record an alert</h2>
  <button id="start" class="btn btn-success">start</button>
  <button id="pause" class="btn btn-default"disabled>pause</button>
  <button id="resume" class="btn btn-default" disabled>resume</button>
  <button id="stopButton" class="btn btn-danger"disabled>send</button>

  <script>
    var recorder;
    start.addEventListener( "click", function(){ recorder.start(); });
    pause.addEventListener( "click", function(){ recorder.pause(); });
    resume.addEventListener( "click", function(){ recorder.resume(); });
    stopButton.addEventListener( "click", function(){ recorder.stop(); });
    
    recorder = new Recorder({
      monitorGain: 0,
      numberOfChannels: 1,
      bitRate: 7874,
      encoderSampleRate: 48000,
      encoderPath: "/javascripts/encoderWorker.min.js"
    });
    recorder.addEventListener( "start", function(e){
      start.disabled = resume.disabled = true;
      pause.disabled = stopButton.disabled = false;
    });
    recorder.addEventListener( "stop", function(e){
      pause.disabled = resume.disabled = stopButton.disabled  = true;
    });
    recorder.addEventListener( "pause", function(e){
      pause.disabled = start.disabled = true;
      resume.disabled = stopButton.disabled = false;
    });
    recorder.addEventListener( "resume", function(e){
      start.disabled = resume.disabled = true;
      pause.disabled = stopButton.disabled = false;
    });
    recorder.addEventListener( "streamError", function(e){
      console.log('Error encountered: ' + e.error.name );
    });
    recorder.addEventListener( "streamReady", function(e){
      pause.disabled = resume.disabled = stopButton.disabled = true;
      start.disabled = false;
    });
    recorder.addEventListener( "dataAvailable", function(e){
      var dataBlob = new Blob( [e.detail], { type: 'audio/ogg' } );
      var fileName = new Date().toISOString() + ".ogg";
      var url = URL.createObjectURL( dataBlob );
      var reader  = new window.FileReader();
      reader.readAsDataURL(dataBlob); 
      reader.onloadend = function() {
        var base64data = reader.result;
        var savedWAVBlob=base64data
        console.log(savedWAVBlob );
        $.ajax({
          url: "/send_alert/<%= @friend.id %>",
          type: "POST",
          data: {url:savedWAVBlob}
        });
      }
    });
    recorder.initStream();
  </script>
