<style>
    #top-navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    #top-navbar li {float: left;}

    #top-navbar li a {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }

    #top-navbar li a:hover {background-color: #ff99e2;}
</style>
<ul id="top-navbar">
    <li><a href="">Home</a></li>
    <li><a href="/users/sign_in">Log-in</a></li>
    <li><a href="/users/sign_up">Register</a></li>
</ul>
<h1>Picky Rooster</h1>
<i>We already have "Picky Husky" and "Picky Pusheen", so why not "Picky Rooster"?</i>
