<html>
<head >
  <title>PickyRooster</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

</head>
<body>
<div class="clip-text text-center">Picky Rooster</div>    
<div class="span12" style="background:url(<%= asset_path 'Rooster.jpg' %>) no-repeat; height:245px; background-size: 100% auto;">
</div>


<div class="section1">
      <h2> Never oversleep again</h2>

</body>
