@import 'https://fonts.googleapis.com/css?family=Quicksand';
header[role="banner"] {
  #logo-main {
    display: block;
    margin: 20px auto;
    font-family: 'Quicksand', sans-serif;
  }
}

.black {
  color: black !important;
}

// .black:hover {
//     background: #cccccc;
//     opacity: 0.5;
// 	-webkit-transition: .3s ease-in-out;
// 	transition: .3s ease-in-out;
// }

#navbar-primary.navbar-default {
  background: transparent;
  font-family: 'Quicksand', sans-serif;
  border: none;
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }
}
